* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: 'Urbanist', sans-serif;
}

body {
    background: #141414;
    overflow-x: hidden;
}


.top-wrapper {
    box-sizing: border-box;
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

.hamburger-menu {
    display: none;
    background: transparent;
    border: none;
}

.inner-wrapper {
    align-items: center;
    display: flex;
    background-image: url('./IMG/Abstract\ Design\ \(1\).svg');
    padding: 15px 32px;
}

.inner-wrapper img {
    width: 32px;
    height: 32px;
}

.banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    flex: 1;
}

.banner-text p {
    color: #FFFFFF;
}

.banner-text p:nth-of-type(2) {
    text-decoration: underline;
}


header {
    justify-content: space-between;
    border: 1px solid #262626;
    display: flex;
    align-items: center;
    padding: 20px 162px;
    max-width: 1920px;
    width: 100%;
    background: #1A1A1A;
    margin: auto;
}

header img {
    max-width: 160px;
}

.navbar {
    align-items: center;
    width: auto;
   
    gap: 30px;
    display: flex;
}

.btn-cc {
    width: 96px;
    
    border: 1px solid #262626;
    border-radius: 10px;
    background-color: #141414;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
}

.navbar ul {
    gap: 30px;
    color: #FFFFFF;
    list-style-type: none;
    display: flex;
}

.navbar li {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
}

.btn-ct {
    border: 1px solid #262626;
    border-radius: 10px;
    background-color: #141414;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    padding: 14px 20px;
    white-space: nowrap;
}


.hero-section {
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.hero-content {
    width: 920px;
    padding: 144px 0px 144px 162px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    background-color: #141414;
}

.hero-text {

    gap: 24px;
    display: flex;
    flex-direction: column;
}

.hero-text h1 {
    font-weight: 600;
    font-size: 60px;
    color: #FFFFFF;
}

.hero-text p {
    font-weight: 500;
    font-size: 18px;
    color: #999999;
}

.hero-buttons {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 20px;
   
}

.btn-primary {
    background: #262626;
    color: #FFFFFF;
    gap: 8px;
    width: 139px;
    height: 63px;
    border: 1px solid #262626;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
}

.btn-secondary {
    border: none;
    color: #FFFFFF;
    gap: 8px;
    width: 191px;
    height: 63px;
    background: #703BF7;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
}

.stats {
    display: flex;
    padding: 0px;
    gap: 20px;
    max-width: 758px;
    width: 100%;
    
}

.stat-item {
    display: flex;
    gap: 2px;
    width:100%;
    height: 121px;
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    flex-direction: column;
    padding: 16px 24px;
    max-width: calc((100% - 40px ) / 3);
    
}

.stat-item h3 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.stat-item p {
    font-weight: 500;
    font-size: 18px;
    color: #999999;
}

.hero-image {
    position: relative;
    padding-left: 50px;
}

.main-image {
    height: 100%;
    display: block;
}

.circle-badge {
    position: absolute;
    top: 28.5%;
    left: 50px;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 175px;
}


.info-cards-grid {
    align-items: stretch;
    margin: 0 auto;
    display: flex;
  
   
    padding: 20px;
    gap: 20px;
    width: 100%;
    max-width: 1920px;
    min-height: 252px;
    
    background: #141414;
    border: 10px solid #191919;
    box-sizing: border-box;
}

.info-card {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
    width: 100%;
    max-width: 455px;
    min-height: 212px;
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    flex: 1;
}

.card-arrow-icon {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 20px;
    top: 20px;
}

.icon-circle {
    display: flex;
    width: 82px;
    height: 82px;
}

.icon-circle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-card h4 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.4;
}


.section-header {
    justify-content: space-between;
    margin: auto;
    position: relative;
    margin-top: 150px;
    align-items: flex-end;
    margin-bottom: 80px;
    display: flex;
    padding: 0px 20px;
    max-width: 1596px;
    width: 100%;
}

.section-header-1 {
    justify-content: space-between;
    margin: auto;
    position: relative;
    margin-top: 150px;
    align-items: flex-end;
    margin-bottom: 80px;
    display: flex;
    padding: 0px 20px;
    max-width: 1596px;

    width: 100%;
}

.star-icon {
    position: absolute;
    top: -40px ;
    left: 0px;

}

.text-content {
    display: flex;
    gap: 14px;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

.text-content h2 {
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
}

.text-content p {
    font-weight: 500;
    font-size: 18px;
    color: #999999;
}

.section-header .btn-primary {
    width: 196px;
    height: 63px;
    gap: 8px;
    border-radius: 10px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    margin-top: auto;
}

.section-header-1 .btn-primary {
    gap: 8px;
    border-radius: 10px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    margin-top: auto;
    width: 215px;
    height: 63px;
}


.properties-grid {
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1596px;
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    padding: 0 20px;
}

.property-card {
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    display: flex;
    width: 33.3%;
    height: 692px;
    background: #141414;
    border: 1px solid #262626;
    border-radius: 12px;
}

.prop-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-body {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.card-body h3 {
    height: 72px;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.desc {
    color: #999999;
    font-weight: 500;
    font-size: 18px;

}

.desc span {
    color: #ffffff;
    display: inline-block;
    text-decoration-line: underline;
}

.specs {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.spec-item {
    gap: 4px;
    display: flex;
    flex-direction: row;
    padding: 8px 14px;
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 28px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
}

.properties-grid-2 {
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1596px;
    width: 100%;
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    padding: 0 20px;
}

.prop-img-1 {
    width: 260px;
    border-radius: 8px;

}

.property-card-2 {
    flex-direction: column;
    padding: 40px;
    gap: 40px;
    display: flex;
    width: 33.3%;
    background: #141414;
    border: 1px solid #262626;
    border-radius: 12px;
}

.properties-grid-3 {
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1596px;
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    padding: 0 20px;
}

.property-card-3 {
    flex-direction: column;
    padding: 40px;
    gap: 30px;
    display: flex;
    width: 33.3%;
    height: 346px;
    background: #141414;
    border: 1px solid #262626;
    border-radius: 12px;
}

.spec-item img {
    width: 24px;
    height: 24px;
}

.pri {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 103px;
    height: 65px;
}

.label {
    color: #999999;
    width: 103px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
}

.value {
    color: #FFFFFF;
    width: 103px;
    height: 36px;
    font-weight: 600;
    font-size: 24px;
}

.btn-pri {
    border: none;
    color: #FFFFFF;
    gap: 8px;
    padding: 0px 24px;
    height: 63px;
    background: #703BF7;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.btn-pri:hover {
    background: #5a2ed4;
    transform: translateY(-2px);
}


.prof {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    max-width: 412px;
    width: 100%;
}

.inf-prof {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 340px;
    justify-content: center;
    width: 100%;
}

.inf {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.inf-prof p {
    font-weight: 500;
    font-size: 18px;
    color: #999999;
}

/* More Button */
.more {
    color: #FFFFFF;
    gap: 10px;
    max-width: 134px;
    height: 60px !important;
    width: 100%;
    padding: 20px 0px;
    border: 1px solid #262626;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    background: #191919;
}

/* Pagination */
.number-page {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1596px;
    height: 78px;
    width: 100%;
    align-items: center;
    border-top: 1px solid #262626;
}

.number-page-1 {
    max-width: 69px;
    height: 30px;
    text-align: center;
}

.number-page p {
    font-weight: 500;
    font-size: 20px;
    color: #999999;
}

.number-page span {
    color: #ffffff;
}

.img-prev {
    justify-content: space-between;
    padding-top: 20px;
}

/* Footer */
footer {
    background-color: #141414;
    color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    max-width: 1920px;
}

.footer-cta {
    background-image: url('./IMG/CTA (1).svg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 162px;
    width: 100%;
    max-width: 1920px;
    border-width: 1px 0px;
    border-style: solid;
}

.cta-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 1154px;
}

.cta-content h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.3;
    color: #ffffff;
}

.cta-content p {
    color: #999999;
    font-size: 18px;
    margin: 0;
    line-height: 1.6;
}

.btn-ft {
    background-color: #7065F0;
    color: #FFFFFF;
    padding: 18px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    margin-left: 20px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px 162px;
    gap: 80px;
    width: 100%;
    max-width: 1920px;
}

.brand-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 538px;
}

.logo {
    width: 160px;
    height: 48px;
}

.email-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 24px;
    gap: 10px;
    width: 100%;
    max-width: 423px;
    height: 66px;
    background: #141414;
    border: 1px solid #262626;
    border-radius: 12px;
}

.input-icon-left {
    width: 20px;
    opacity: 0.5;
}

.email-box input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    font-size: 16px;
}

.send-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.input-icon-right {
    width: 24px;
}

.nav-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    max-width: 978px;
    height: 254px;
}

.nav-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 100%;
    margin: 0 auto;
    max-width: 159px;
}

.nav-col h4 {
    color: #999999;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
}

.nav-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-col a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

.nav-col a:hover {
    color: #7065F0;
}

.footer-bottom {
    max-width: 1920px;
    width: 100%;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    padding: 16px 162px;
}

.copyright {
    display: flex;
    gap: 38px;
    font-size: 16px;
}

.copyright span {

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.copyright a {

    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-btn {
    width: 44px;
    height: 44px;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-btn:hover {
    background-color: #7065F0;
    border-color: #7065F0;
}

.social-btn img {
    width: 20px;
    height: 20px;
}

.copy-right,
.terms-conditions {

    white-space: nowrap;
    color: white;
}

@media (max-width: 1440px) {
    .des {
        height: 58px !important;
    }

    .desc {
        font-size: 16px !important;
        height: 100%;
    }

    .text-content h2 {
        font-size: 40px;
    }

    .text-content p {
        font-size: 16px;
    }

    .card-body h3 {
        font-size: 20px;
    }

    .spec-item {
        font-size: 14px;
        padding: 6px 12px;
    }

    .spec-item img {
        width: 20px;
        height: 20px;
    }

    .value {
        font-size: 20px;
    }

    .label {
        font-size: 16px;
    }

    .btn-pri {
        font-size: 14px;
        padding: 0px 20px;
    }

    .property-card {
        padding: 30px;
        height: 620px;
    }

    .properties-grid {
        gap: 20px;
        padding: 0 15px;
    }

    /* Info Cards Responsive */
    .info-cards-grid {
        padding: 15px;
        gap: 15px;
        border: 8px solid #191919;
    }

    .info-card {
        padding: 30px 15px;
        gap: 15px;
    }

    .info-card h4 {
        font-size: 18px;
    }

    .icon-circle {
        width: 70px;
        height: 70px;
    }

    .card-arrow-icon {
        width: 28px;
        height: 28px;
        right: 15px;
        top: 15px;
    }
}

@media (max-width: 1200px) {
    .info-card h4 {
        font-size: 16px;
    }

    .info-cards-grid {
        padding: 10px;
        gap: 10px;
        border: 6px solid #191919;
    }

    .info-card {
        padding: 25px 10px;
        gap: 12px;
    }

    .icon-circle {
        width: 60px;
        height: 60px;
    }

    .card-arrow-icon {
        width: 24px;
        height: 24px;
        right: 12px;
        top: 12px;
    }

    .section-header,
    .section-header-1 {
        flex-direction: column;
        height: auto;
        gap: 20px;
        align-items: flex-start;
        text-align: left;
    }

    .text-content {
        max-width: 100%;
    }

    .text-content h2 {
        font-size: 36px;
    }

    .text-content p {
        font-size: 15px;
    }

    .properties-grid {
        max-width: 100%;
        width: calc(100% - 20px);
        padding: 0 10px;
        gap: 10px;
        padding-right: 20px;
    }

    .property-card {
        height: 580px;
        padding: 25px;
    }

    .card-body h3 {
        font-size: 18px;
    }

    .desc {
        font-size: 14px !important;
    }

    .spec-item {
        font-size: 12px;
        padding: 4px 8px;
    }

    .value {
        font-size: 18px;
    }

    .btn-pri {
        font-size: 12px;
        height: 50px;
    }
}

@media (max-width: 968px) {
    .info-cards-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 15px;
        gap: 15px;
        height: auto;
        border: 5px solid #191919;
    }

    .info-card {
        width: 100%;
        padding: 25px 20px;
        gap: 15px;
    }

    .info-card h4 {
        font-size: 18px;
    }

    .icon-circle {
        width: 70px;
        height: 70px;
    }

    .card-arrow-icon {
        width: 28px;
        height: 28px;
        right: 15px;
        top: 15px;
    }

    .properties-grid {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 0 20px;
    }

    .property-card {
        width: 100%;
        max-width: 500px;
        height: auto;
        min-height: 500px;
    }

    .text-content h2 {
        font-size: 32px;
    }

    .text-content p {
        font-size: 14px;
    }

    .card-body {
        gap: 20px;
        height: auto;
    }

    .card-body h3 {
        font-size: 20px;
    }

    .desc {
        font-size: 15px !important;
    }

    .specs {
        gap: 8px;
        flex-wrap: wrap;
    }

    .spec-item {
        font-size: 13px;
        padding: 6px 10px;
    }

    .pri {
        gap: 15px;
    }

    .btn-pri {
        font-size: 14px;
        height: 50px;
        flex: 1;
        min-width: 180px;
    }

    .value {
        font-size: 20px;
    }

    .section-header .btn-primary,
    .section-header-1 .btn-primary {
        margin-top: 20px;
        width: 200px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 20px 15px;
    }

    .circle-badge {
        top: 96%;
        left: 135px;
    }

    .properties-grid .property-card:nth-child(-n + 2) {
        display: none;

    }

    .properties-grid-2 .property-card-2:nth-child(n + 2),
    .properties-grid-3 .property-card-3:nth-child(n + 2) {
        display: none;

    }

    .property-card-2,
    .property-card-3 {
        width: 100%;
        height: auto;
    }

    .property-card-2 img {
        width: 60%;
    }

    .more {
        width: 100%;
        max-width: 100%;
    }

    #about-us,
    #services {
        padding: 20px;
        border-left: 1px solid #262626;
        border-bottom: 1px solid #262626;
        height: auto;
    }

    #properties {
        padding: 20px;
        border-top: 1px solid #262626;
        border-bottom: 1px solid #262626;
    }

    .navbar {
        display: none;
    }

    .btn-ct {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hero-section {
        flex-direction: column;
        padding: 20px 15px;
        text-align: center;
    }

    .hero-content {
        width: 100%;
        order: 2;
        height: auto;
        padding: 50px 16px;
    }

    .hero-image {
        width: 100%;
        order: 1;
        margin-bottom: 30px;
    }

    .hero-text h1 {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .hero-text p {
        font-size: 14px;
        line-height: 1.4;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 12px;
        margin-bottom: 30px;
        width: 100%;
    }

    .hero-buttons .btn {
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;
    }

    .stats {
       display: flex;
       flex-wrap: wrap;
        width: 100%;
        max-width: 9000px;
        margin: 0 auto;
        gap: 12px;
    }

    .stat-item {
        max-width: calc((100% - 12px) / 2);
        text-align: center;
        width: 100%;
        padding: 20px 15px;
        border: 2px solid #262626;
        background: #141414;
        border-radius: 10px;
        height: auto;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .stat-item:nth-child(3) {
       width: 100%;
       max-width: 900px;
    }

    .stat-item h3 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .stat-item p {
        font-size: 12px;
    }

    .info-cards-grid {
        flex-direction: column;
        padding: 50px 16px;
        gap: 12px;
        height: auto;
        border: 4px solid #191919;
    }

    .info-card {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        padding: 20px 15px;
        gap: 12px;
    }

    .info-card h4 {
        font-size: 16px;
    }

    .icon-circle {
        width: 60px;
        height: 60px;
    }

    .card-arrow-icon {
        width: 24px;
        height: 24px;
        right: 12px;
        top: 12px;
    }

    .properties-grid {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 0 15px;
    }

    .footer-cta {
        flex-direction: column;
        padding: 30px 15px;
        text-align: center;
        gap: 20px;
    }

    .cta-content {
        width: 100%;
        align-items: center;
    }

    .cta-content h2 {
        font-size: 24px;
        line-height: 1.2;
    }

    .cta-content p {
        font-size: 14px;
        text-align: center;
    }

    .btn-ft {
        width: 100%;
        max-width: 300px;
        margin: 0;
        padding: 15px 20px;
        font-size: 16px;
    }

    .footer-main {
        flex-direction: column;
        padding: 40px 15px;
        gap: 30px;
        align-items: center;
    }

    .brand-column {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .email-box {
        max-width: 100%;
        margin: 0 auto;
    }

    .nav-columns {
        width: 100%;
        max-width: none;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        align-items: stretch;
    }

    .nav-col:nth-child(5) {
        grid-column: 1 / -1;
        justify-self: start;
    }

    .nav-col {
        max-width: none;
        width: 100%;
        align-items: flex-start;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 15px;
        gap: 15px;
        text-align: center;
    }


}

.copyright {
    
    max-width: none;
    gap: 10px;
}

.text-content h2 {
    font-size: 28px;
}

.text-content p {
    font-size: 13px;
}

.property-card {
    padding: 20px;
    max-width: 100%;
}

.card-body h3 {
    font-size: 18px;
}

.desc {
    font-size: 14px !important;
}

.spec-item {
    font-size: 12px;
    padding: 4px 8px;
}

.spec-item img {
    width: 18px;
    height: 18px;
}

.value {
    font-size: 18px;
}

.label {
    font-size: 14px;
}

.btn-pri {
    font-size: 13px;
    padding: 0 16px;
    height: 45px;
}

.properties-grid {
    padding: 0 10px;
}



@media (max-width: 480px) {
    header {
        padding: 15px 10px;
    }

    .hero-section {
        padding: 15px 10px;
    }

    .hero-text h1 {
        font-size: 24px;
    }

    .hero-text p {
        font-size: 12px;
    }

    .hero-buttons .btn {
        font-size: 12px;
        height: 45px;
    }

    .stat-item h3 {
        font-size: 20px;
    }

    .stat-item p {
        font-size: 11px;
    }

    .info-cards-grid {
        flex-direction: column;
        padding: 8px;
        gap: 10px;
        height: auto;
        border: 3px solid #191919;
    }

    .info-card {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        padding: 15px 12px;
        gap: 10px;
    }

    .info-card h4 {
        font-size: 14px;
    }

    .icon-circle {
        width: 50px;
        height: 50px;
    }

    .card-arrow-icon {
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;
    }

    .footer-cta {
        padding: 20px 10px;
    }

    .cta-content h2 {
        font-size: 20px;
    }

    .cta-content p {
        font-size: 12px;
    }

    .btn-ft {
        font-size: 14px;
        padding: 12px 16px;
    }

    .footer-main {
        padding: 30px 10px;
        gap: 25px;
    }

    .nav-col h4 {
        font-size: 16px;
    }

    .nav-col a {
        font-size: 14px;
    }

    .footer-bottom {
        padding: 15px 10px;
    }

    .copyright span,
    .copyright a {
        font-size: 14px;
    }

    .text-content h2 {
        font-size: 24px;
    }

    .text-content p {
        font-size: 12px;
    }

    .property-card {
        padding: 15px;
        min-height: 450px;
    }

    .card-body {
        gap: 15px;
    }

    .card-body h3 {
        font-size: 16px;
    }

    .desc {
        font-size: 12px !important;
        line-height: 1.4;
    }

    .specs {
        gap: 6px;
    }

    .spec-item {
        font-size: 10px;
        padding: 3px 6px;
    }

    .spec-item img {
        width: 16px;
        height: 16px;
    }

    .pri {
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
    }

    .price {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .label {
        font-size: 12px;
        width: auto;
        height: auto;
    }

    .value {
        font-size: 16px;
        width: auto;
        height: auto;
    }

    .btn-pri {
        font-size: 12px;
        height: 40px;
        width: 100%;
    }

    .section-header .btn-primary,
    .section-header-1 .btn-primary {
        width: 100%;
        font-size: 14px;
    }
}